In [1]:
import numpy as np
import pandas as pd

In [2]:
def calc_F_to_R(F):
    return F + 459.67

def calc_R_to_F(R):
    return R - 459.67

In [3]:

def calc_T_LA(Hs, D, Ta, Tb, alpa_r, alpha_s, I):
    _1st = (0.5 - 0.8 / (4.4 * Hs/D + 3.8)) * Ta
    _2nd = (0.5 + 0.8 / (4.4 * Hs/D + 3.8)) * Tb
    _3rd = (0.021 * alpha_r * I + 0.013 * Hs/D * alpha_s * I) / (4.4 * Hs/D + 3.8)
    return _1st + _2nd + _3rd

In [4]:
# December
Hs = 30
D = 15
Ta = calc_F_to_R(95)  # max, Cedar City, Utah
Tb = calc_F_to_R(110)   # liquid bulk
alpha_r = 0.49          # tan
alpha_s = 0.49          # tan
I = 741

In [5]:
calc_T_LA(Hs, D, Ta, Tb, alpha_r, alpha_s, I)

564.4767642857144

## Geological data retrieval

In [1]:
import pandas as pd
from fuzzywuzzy import process

C:\Users\EricKim\AppData\Roaming\Python\Python39\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [14]:
file = 'Table 7-1-7 Meteorological data for selected US locations.xlsx'
df = pd.read_excel(file, sheet_name='Data')

# Average daily ambient temperature (Eq. 1-30)
df_tav = df[df['Symbol'].isin(['TAN', 'TAX'])].groupby(['Location', 'City', 'State', 'Units']).mean().reset_index()
df_tav['Symbol'] = 'TAA'
df = pd.concat([df, df_tav], ignore_index=True)

input_location = 'Cedar City, UT'
locations = set(df['Location'])
if input_location not in locations:
    closest_match, score = process.extractOne(input_location, locations)
    raise TypeError('Invalid location parameter: "%s". Did you mean "%s"?' % (input_location, closest_match))

# "Location == 'Cedar City, UT' and Symbol == 'TAN' and Units == 'mi/hr'"
location_data = df[(df['Location'] == input_location)]

T_max = location_data[location_data['Symbol'] == 'TAX']
T_min = location_data[location_data['Symbol'] == 'TAN']
T_avg = location_data[location_data['Symbol'] == 'TAA']
V = location_data[location_data['Symbol'] == 'V']
I = location_data[location_data['Symbol'] == 'I']
PA = location_data[location_data['Symbol'] == 'PA']

In [26]:
file = 'AP42 Chap 7.pdf'
dfs = tabula.read_pdf(file, lattice=True, pages=list(np.arange(103, 140, 1)))

In [34]:
pd.concat(dfs, axis=0).reset_index(drop=True)

,Location,Symbol,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,"Birmingham, AL",TAN,°F,35.0,37.5,44.1,51.7,60.6,68.1,71.7,71.1,64.7,53.3,43.3,36.7,53.20
1,NaN,TAX,°F,53.7,57.8,65.9,73.9,80.9,86.8,90.0,89.8,84.5,74.7,64.2,55.3,73.10
2,NaN,V,mi/hr,7.2,7.4,7.8,7.4,6.3,5.4,5.1,4.7,5.4,5.4,6.0,6.7,6.30
3,NaN,I,Btu/ft2/day,769.0,1013.0,1382.0,1720.0,1884.0,1928.0,1889.0,1760.0,1504.0,1212.0,890.0,699.0,1388.00
4,NaN,PA,lb/in2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1205,"Sheridan, WY",TAN,°F,13.0,16.8,23.4,31.4,39.8,47.9,54.8,53.2,43.5,32.5,21.5,13.6,32.60
1206,NaN,TAX,°F,34.4,38.5,47.5,55.7,65.4,74.8,85.9,85.2,74.0,58.8,45.5,35.4,58.40
1207,NaN,V,mi/hr,6.5,6.9,7.8,8.9,8.3,7.2,6.5,6.0,6.3,6.7,6.5,6.5,6.90
1208,NaN,I,Btu/ft2/day,482.0,767.0,1145.0,1509.0,1850.0,2030.0,2152.0,1860.0,1419.0,909.0,569.0,429.0,1260.00
1209,NaN,PA,lb/in2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.73