In [1]:
import tabula
import numpy as np
import pandas as pd

## Table 7-1-6: Meteorological data for selected US locations

In [2]:
file = 'AP42 Chap 7.pdf'
dfs = tabula.read_pdf(file, lattice=True, pages=list(np.arange(103, 140, 1)))

In [3]:
df = pd.concat(dfs, axis=0).reset_index(drop=True)

df['Location'] = df['Location'].ffill()
df[['City', 'State']] = df['Location'].str.split(', ', expand=True)

df_tav = df[df['Symbol'].isin(['TAN', 'TAX'])].groupby(['Location', 'City', 'State', 'Units']).mean().reset_index()
df_tav['Symbol'] = 'TAA'
df = pd.concat([df, df_tav], ignore_index=True)


columns = ['State', 'City', 'Location'] + [col for col in df.columns if col not in ['Location', 'City', 'State']]
df = df[columns]
df = df.sort_values(['State', 'City'], ascending=[True, True]).reset_index(drop=True)
df.iloc[:7, :]

,State,City,Location,Symbol,Units,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,AL,Birmingham,"Birmingham, AL",TAN,°F,35.00,37.50,44.1,51.7,60.60,68.10,71.70,71.10,64.7,53.3,43.30,36.7,53.20
1,AL,Birmingham,"Birmingham, AL",TAX,°F,53.70,57.80,65.9,73.9,80.90,86.80,90.00,89.80,84.5,74.7,64.20,55.3,73.10
2,AL,Birmingham,"Birmingham, AL",V,mi/hr,7.20,7.40,7.8,7.4,6.30,5.40,5.10,4.70,5.4,5.4,6.00,6.7,6.30
3,AL,Birmingham,"Birmingham, AL",I,Btu/ft2/day,769.00,1013.00,1382.0,1720.0,1884.00,1928.00,1889.00,1760.00,1504.0,1212.0,890.00,699.0,1388.00
4,AL,Birmingham,"Birmingham, AL",PA,lb/in2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.37
5,AL,Birmingham,"Birmingham, AL",TAA,°F,44.35,47.65,55.0,62.8,70.75,77.45,80.85,80.45,74.6,64.0,53.75,46.0,63.15
6,AL,Huntsville,"Huntsville, AL",TAN,°F,32.70,35.20,42.1,50.6,59.60,67.20,70.30,69.20,62.6,51.1,41.20,34.5,51.40

In [4]:
df.to_pickle("Table 7-1-7 Meteorological data for selected US locations.pkl")

In [5]:
data = {
    "Symbol": ["TAX", "TAN", "V", "I", "PA", "Source"],
    "Description": [
        "hourly average maximum ambient temperature",
        "hourly average minimum ambient temperature",
        "average wind speed",
        "average daily total insolation factor",
        "average atmospheric pressure",
        "AP 42, Fifth Edition, Volume I Chapter 7: Liquid Storage Tanks  -  https://www.epa.gov/air-emissions-factors-and-quantification/ap-42-fifth-edition-volume-i-chapter-7-liquid-storage-0"
    ]
}

description_df = pd.DataFrame(data)

In [6]:
with pd.ExcelWriter('Table 7-1-7 Meteorological data for selected US locations.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Data', index=False)
    description_df.to_excel(writer, sheet_name='Descriptions', index=False)

In [7]:
import time

start_time = time.time()

pd.read_pickle("Table 7-1-7 Meteorological data for selected US locations.pkl")  

end_time = time.time()

print(f"Pickle execution time:  {end_time - start_time} seconds")

start_time = time.time()

pd.read_excel('Table 7-1-7 Meteorological data for selected US locations.xlsx', sheet_name='Data')

end_time = time.time()

print(f"Excel execution time :  {end_time - start_time} seconds")

Pickle execution time:  0.008001565933227539 seconds
Excel execution time :  0.6902036666870117 seconds

## Table 7-1-6: Paint Solar Absortance

In [8]:
file = 'AP42 Chap 7.pdf'
df = tabula.read_pdf(file, lattice=True, pages=102)[0]

df['Merged'] = df['Shade or Type'].fillna('') + ' ' + df['Surface Color'].fillna('')
df['Merged'] = df['Merged'].str.strip()
df['Merged'] = df['Merged'].apply(lambda x: x.lower())
df = df.iloc[1:-1, 2:]
df.columns = ['new', 'average', 'aged', 'surface color']
df['surface color'].iloc[-1] = 'unpainted aluminum'
df = df[['surface color', 'new', 'average', 'aged']]

In [9]:
df

          surface color   new average  aged
1                 white  0.17    0.25  0.34
2     specular aluminum  0.39    0.44  0.49
3      diffuse aluminum  0.60    0.64  0.68
4           beige/cream  0.35    0.42  0.49
5                 black  0.97    0.97  0.97
6                 brown  0.58    0.62  0.67
7            light gray  0.54    0.58  0.63
8           medium gray  0.68    0.71  0.74
9            dark green  0.89    0.90  0.91
10           primer red  0.89    0.90  0.91
11  red iron oxide rust  0.38    0.44  0.50
12                  tan  0.43    0.49  0.55
13   unpainted aluminum  0.10    0.12  0.15

In [10]:
df.to_pickle("Table 7-1-6 Paint solar absortance.pkl")

In [11]:
data = {
    "Symbol": ["new", "average", "aged", "reference", "source"],
    "Description": [
        "For paint, paint still retains the fresh shine of having been recently applied; for mill-finish aluminum, surface is shiny. This was previouslylabeled 'Good.'",
        "For paint, paint is in good condition, but the initial shine has faded; for mill-finish aluminum, surface is oxidized but still bright. The value given in each case is the average of the New and the Aged values for that case, and does not represent new data.",
        "For paint, paint is noticeably faded and dull; for mill-finish aluminum, surface is dull. This was previously labeled 'Poor.'",
        "If specific information is not available, a white shell and roof, with the paint in average condition, can be assumed to represent the most common or typical tank surface in use",
        "AP 42, Fifth Edition, Volume I Chapter 7: Liquid Storage Tanks  -  https://www.epa.gov/air-emissions-factors-and-quantification/ap-42-fifth-edition-volume-i-chapter-7-liquid-storage-0"
    ]
}

description_df = pd.DataFrame(data)

In [12]:
with pd.ExcelWriter('Table 7-1-6 Paint solar absortance.xlsx') as writer:  
    df.to_excel(writer, sheet_name='Data', index=False)
    description_df.to_excel(writer, sheet_name='Descriptions', index=False)